/* Simple Square payment stylesheet */
.sq-input {
    border: 1px solid rgb(223, 223, 223);
    height: 2.25rem;
    line-height: 1.25;
    margin-bottom: 5px;
    padding: 0.5rem 1rem;
}

.sq-input--focus {
    /* Indicates how form inputs should appear when they have focus */
    border: 1px solid rgb(59, 153, 252);
}

.sq-input--error {
    /* Indicates how form inputs should appear when they contain invalid values */
    border: 1px solid rgb(255, 97, 97);
}

@media (min-width: 1024px) {
    .sq-input {
        width: 50%;
    }
}